.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main-header{
  background-color:lightskyblue;
  text-align: center;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 50px;
}

.search-settings{
  margin-bottom: 50px;
}

.playback-settings{
  margin-bottom: 50px;
}

.submit-button{
  margin-top:10px;
}

.inc-buttons{
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 2px;
}

.page-view{
  margin-top:20px;
}

.temp-display{
  vertical-align:middle;
}

.temp-label{
  margin:10px;
}

.temp-control{
  margin:10px;
}

.controls{
  display: flex;
  flex-direction: row;
}

.toggle{
  margin-top: 7px;
  margin-bottom: 7px;
  margin-left: 25px;
  margin-right: 25px;
}